@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");

:root{
  --progColor : Gradient: (hsl(6, 100%, 80%) to hsl(335, 100%, 65%));
}

body {
  background-color: #0c122c;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  background-image: url(./images/bg-desktop.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 300px;
}

li {
  display: inline-block;
  list-style: none;
  margin: 1px;
  background-color: #0c122c;
  padding: 5px 10px;
  border-radius: 5px;
}

.row-storage {
  position: absolute;
  width: 850px;
  height: 240px;
  border: 1px solid #ffffff;
  padding: 10px;
  margin: 10px;
}

.row-storage > div {
  float: left;
  margin: 10px;
}

.right-storage {
  border-radius: 5px 50px 5px 5px;
  background-color: #1e2c69;
  width: 200px;
  height: 200px;
}

.left-storage {
  border-radius: 5px;
  background-color: #1e2c69;
  width: 600px;
  height: 200px;
}

.buble-storage {
  background: #ffffff;
  width: 100px;
  height: 30px;
  color: #0c122c;
  font-size: 15px;
}

b .buble-storage {
  font-size: 25px;
}

progress {
  background-color: #0c122c;
  background: var(--progColor);
  border-radius: 10px;
  width: 500px;
  height: 20px;
  margin: 5px;
}

.slider {
  background-color: #b3ffdf;
  border-radius: 5px;
  width: 350px;
  height: 10px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 1px;
}

.btn-slider {
  background-color: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 680px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
